/* Search */
.header {
  display: flex;
  height: 4rem;
  padding: 0.8em 1em;
  background-color: black;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 1em;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.logo:focus {
  outline: none;
}
.title {
  color: white;
}

.input {
  flex-basis: 100%;
  font-size: 1.3rem;
  outline: 0;
}
.input:focus {
  outline: none;
}

.btn {
  background-color: darkgrey;
  outline: 0;
}
.btnImg {
  height: 100%;
  padding: 0.5em 0.2em;
}
